.loader2 {
  width: 28px;
  height: 28px;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-bottom-color: rgb(22 163 74);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
  line-height: 0.9;
}

@keyframes jump {
  0%,
  100% {
    color: black;
    transform: translateY(-5px);
  }
  50% {
    color: #3ab493;
    transform: translateY(0px);
  }
}
.dot {
  animation: jump 1s var(--delay) infinite ease-in;
}
