.text-stoke-primary-color {
  -webkit-text-stroke: 1px #555;
}
#maintenance > div > a > span,
.main > div > a > span {
  position: relative;
  top: 2px;
}
.settingIcon {
  margin-left: 6px;
}
#overflow-wrapper {
  scrollbar-gutter: stable;
}

#overflow-wrapper::-webkit-scrollbar {
  width: 1rem;
}
#overflow-wrapper::-webkit-scrollbar-track {
  background: #fff;
}

#overflow-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  border-radius: 20px;
  border: 5px solid #fff;

  height: 10px;
}
#default > *,
#maintenance > * {
  text-decoration: none !important
  ;
}
.collapsibleButton {
}
