#productTable thead tr > th:not(:first-child) {
  font-weight: 400;
}

table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}
table tbody tr > *:first-child,
table thead tr > *:first-child {
  padding-left: 1.5rem;
}
