#productTable thead tr > th:not(:first-child) {
  font-weight: 400;
}

#productTable tbody tr:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}
#productTable tbody tr > *:first-child,
#productTable thead tr > *:first-child {
  padding-left: 1.5rem;
}
