@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.font-geist {
  font-family: "Geist Variable";
}

.font-geist-mono {
  font-family: "Geist Mono Variable";
}
